<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h2 style="text-align: center; text-transform: uppercase;">Search Box</h2>
	<ul id="UL">
		<li><a href="#">c</a></li>
		<li><a href="#">c++</a></li>
		<li><a href="#">java</a></li>
		<li><a href="#">python</a></li>
		<li><a href="#">html</a></li>
		<li><a href="#">css</a></li>
		<li><a href="#">javascript</a></li>
		<li><a href="#">ajax</a></li>
		<li><a href="#">json</a></li>
		<li><a href="#">jquery</a></li>
		<li><a href="#">bootstrap</a></li>
		<li><a href="#">angular</a></li>
	</ul>

</body>
</html>